<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1>Hello World!</h1>
        <p>This is a simple webpage created using HTML and CSS.</p>
    </div>
    <br>
    <main>
        <h2>New post.</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur repellat iste magnam, tempora error quod similique repellendus eum atque. Sunt voluptatibus adipisci itaque quibusdam tempora repellendus quos est perspiciatis quaerat!</p>
    </main>
    <footer>
        <p>&copy; Copyright Reserved 2024</p>
    </footer>
</body>
</html>